html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.login-form {
  width: 30%;
  border: 2px solid grey;
  border-radius: 15px;
  padding-top: 10px;
  margin: 20px;
  text-align: center;
  background-color: white;
}

.login-input {
  width: 90%;
  padding-bottom: 20px;
  margin-top: 30px;
  border: 2px solid grey;
}

.login-button {
  width: 60%;
  border: 2px solid grey;
  border-radius: 15px;
  padding: 10px;
  margin: 20px;
  background-color: white;
}

.invisible {
  display: none;
}

.users-list {
  display: block;
  width: 50%;
  border: 2px solid grey;
  border-radius: 15px;
  padding-top: 10px;
  margin: 20px;
}

.user {
  display: flex;
}

.circle {
  width: 35px;
  height: 35px;
  border: 2px solid grey;
  border-radius: 25px;
  margin: 5px;
  background-color: white;
}

.list-title {
  display: block;
  align-self: center;
  padding-left: 10px;
}

.chat-window {
  width: 50%;
  height: 80%;
  border: 2px solid grey;
  border-radius: 15px;
  background-color: white;
  position: absolute;
  top: 10px;
  left: 15%;
  padding: 10px;
}

.chat-area {
  height: 90%;
  overflow-y: scroll;
}

.chat-area::-webkit-scrollbar {
  border: 1px solid grey;
}

.chat-area::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 15px;
  background-image: url('images/up-arrow.png');
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
}

.chat-area::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 15px;
  background-image: url('images/down-arrow.png');
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
}

.user-chat-input-container {
  display: flex;
  margin-top: 10px;
  text-align: center;
  
}

.user-chat-input {
  width: 70%;
  border: 2px solid grey;
  border-radius: 15px;
  height: 30px;
  padding-left: 10px;
  overflow: auto;
}

.send-message-button {
  width: 20%;
}

.message-title {
  font-size: 15px;
  margin-bottom: 5px;
}

.message-content {
  font-size: 20px;
  font-weight: 300;
}

.my-message-container {
  padding-left: 50%;
}

.message-container {
  margin-bottom: 20px;
}









